body{
  min-height:100%;
}

html { 
  background: url(../img/background.svg) $green no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}