.container{
  background:rgba(255,255,255,0.3);
  @include rem("padding", 30);
  @include rem("margin-bottom", 60);
  @include roundedCorners(10);
  color:$darkGrey;
  position: relative;

  h2{
    font-family:$headingFont;
    @include rem("font-size", 28);
    @include rem("margin-bottom", 15);
    @include rem("padding-bottom", 5);
    border-bottom:1px solid $darkerGrey;
    color:$darkerGrey;
  }

  .content{
    @include rem("margin-bottom", 60);
  }

  p{
    @include rem("font-size", 16);
    @include rem("line-height", 20);
    @include rem("margin-bottom", 15);

    a{
      color: $darkGrey;
      text-decoration: none;
      border-bottom: 1px solid $darkGrey;

      &:hover, &:focus{
        border: none;
      }
    }
  }
}