.bottom-image {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: absolute;
  top: 60px;
  right: 0;
  display:block;
  background: url(../img/background.jpg) no-repeat;
  background-size:contain;
  background-position:center;
}